body {
	width: 1600px;
	margin: 0;

	font-family: 'Roboto', sans-serif;
}

header {
	width: 100%;
	height: 95px;
	display: flex;
	align-content: center;
	justify-content: center;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header a {
	padding: 0 50px;
	color: white;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	text-decoration: none;
}

.header a:hover {
	cursor: pointer;
	/*background: gray;*/
	text-decoration: underline;
	/*color: white;*/
}

.header .active {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	text-decoration: underline;
}

.header .logo {
	padding: 0 50px;
}


.your_life {
	height: 744px;
	background-image: url(./assets/your_life_bg.svg);

}

.your_life .content_block {
	color: white;
	padding-top: 136px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.your_life .content_block h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	margin: 0;
	letter-spacing: 4.5px;
	text-transform: uppercase;
}

.your_life .content_block p {
	width: 504px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	margin: 0;
	padding: 20px 0 30px 0;
}

.get_started_button {
	padding: 15px 47px;
	background: #00AFDB;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: white;
	border: none;
}

.your_life .content_block .socials {
	display: flex;
	flex-direction: row;
	justify-self: center;

	padding-top: 183px;
}

.your_life .content_block .socials img {
	padding: 0 15px;
}

.rappresent {
	display: flex;
	flex-direction: row;
}

.rappresent .content_block{
	width: 407px;
	height: 233px;

	padding-left: 268px;
	padding-top: 295px;
}

.rappresent .content_image {
	padding-left: 248px;
	padding-top: 120px;
	padding-bottom: 140px
}

.rappresent .content_block h3{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
	color: #4E4E4E;
}

.rappresent .content_block p {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	margin: 0;
	padding: 20px 0 30px 0;
	color: #4E4E4E;
}

.our_community {
	background: #F5F6F7;
	width: 1600px;
	height: 504px;
	display: flex;
	flex-direction: row;	
}

.our_community .content_block {
	width: 298px;
	height: 175px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding-top: 155px;
	padding-left: 269px;
	padding-right: 139px;
}

.our_community .content_block h4 {
	margin: 0;
	padding: 20px 0 10px 0; 
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.4px;
	text-transform: uppercase;

	color: #373737;
}

.our_community .content_block p {
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;

	color: #4E4E4E;
}

.our_community .slider_items {
	display: flex;
	flex-direction: row;
	align-self: center;
	overflow: hidden;
	width: 894px;
	height: 244px;
	padding-top: 20px;
}

.our_community .slider_items #second_image {
	padding: 0 30px; 
}

.our_community .nav_items {
	position: absolute;
	margin-top: 80px;
	margin-left: 1252px;
	width: 79px;
	height: 20px;
}

.implement {
	display: flex;
	flex-direction: row;
}

.implement .content_block{
	width: 407px;
	height: 184px;
	padding: 319px 0 0 139px;
}

.implement .content_image {
	padding: 120px 0 140px 269px;
}

.implement .content_block h3{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
	color: #4E4E4E;
}

.implement .content_block p {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	margin: 0;
	padding: 20px 0 30px 0;
	color: #4E4E4E;
}

.implement .content_block button {
	padding: 15px 47px;
	background: #00AFDB;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: white;
	border: none;
}

.subscribe {
	width: 1600px;
	height: 598px;
	background-image: url(./assets/subscribe_bg.png);
	display: flex;
	justify-content: center;

}

.subscribe .content_block{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.subscribe h3{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white;
	padding-bottom: 30px;
	text-align: center;
	margin: 0;
}

.subscribe input{
	width: 340px;
	height: 46px;
	padding: 0;
}

.subscribe input::placeholder{
	width: 39px;
	height: 20px;
	padding-left: 24px;
	padding-top: 14px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;

	color: #373737;
	}

.subscribe button{
	width: 66px;
	height: 46px;
	background: #00AFDB;
	border-radius: 0px;
	border: none;
}

.download {
	width: 1600px;
	height: 468px;

	background: #F5F6F7;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.download .content_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.download .content_block h3{
	width: 250px;
	height: 28px;
	
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	color: #373737;
	margin: 0;
}

.download .content_block p{
	width: 483px;
	height: 40px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	margin: 0;
	padding: 20px 0 30px 0;

	color: #4E4E4E;
}

footer {
	width: 1600px;
	height: 184px;

	background: #000000;

	display: flex;
	flex-direction: row;
	/*align-items: center;*/
	justify-content: space-between;
}

.left_footer {
	padding-left: 160px;
	padding-top: 75px;
}

footer .logo {
	padding-top: 60px;
}

.right_footer {
	width: 170px;
	height: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;

	text-align: center;
	color: #818181;
	padding-top: 73px;
	padding-right: 160px;
}

.right_footer p {
	margin: 0;
}

.left_footer a {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;

	color: #FFFFFF;
	text-decoration: none;
	opacity: 0.98;
}

.left_footer #first_link {
	padding-right: 20px;
}

.left_footer #second_link {
	padding: 0 20px;
	border-left: 1px solid white;
	border-right: 1px solid white; 
}

.left_footer #third_link {
	padding-left: 20px;
}

button:hover {
	cursor: pointer;
	background-color: blue;
}

.button_group button {
	width: 128px;
	height: 50px;

	background: #00AFDB;
	border-radius: 0px;
}